<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom" [(ngModel)]="nom">
  </div>
  <div class="form-group">
    <label for="nom">Prenom</label>
    <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Prenom" [(ngModel)]="prenom">
  </div>
  <div class="form-group">
    <label for="birthday">Date de naissance</label>
    <input type="date" class="form-control" id="birthday" name="birthday" [(ngModel)]="birthday">
  </div>
  <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form>
