<div style="width:20px;height:20px;background-color:red;" *ngIf="1 === 1">
</div>
<h4>Appareil : {{appareilName}}</h4>
<div class="form-group">
  <label for="name">Nom du produit</label>
  <input id="name" type="text" class="form-control" [(ngModel)]="appareilName">
</div>
<div class="form-group">
  <label for="username">Prénom</label>
  <input id="username" type="text" class="form-control" [(ngModel)]="username" (keyup)="notifyUsername()">
  <label for="lastname">Nom</label>
  <input id="lastname" type="text" class="form-control" [(ngModel)]="lastname" (keyup)="notifyLastName()">
</div>
