<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config></context:annotation-config>

	<context:component-scan base-package="formationSpring.beans"></context:component-scan>



	<bean id="guitariste" class="formationSpring.beans.Guitariste">
		<property name="nom" value="Astérix" />
		<property name="instrumentCorde" ref="guitare" />
	</bean>

	<bean id="guitare" class="formationSpring.beans.Guitare" />
	<bean id="violon" class="formationSpring.beans.Violon" />
	
	<bean id="public" class="formationSpring.beans.Public" />
	
	

	<aop:config proxy-target-class="true">
		<aop:pointcut id="pointcut" expression="execution (* formationSpring.beans.Musicien.performer(..))" />
		<aop:aspect id="aspect" ref="public">
			<aop:before method="seLeve" pointcut-ref="pointcut" />
			<aop:after method="applaudit" pointcut-ref="pointcut" />
		</aop:aspect>
	</aop:config>
	


</beans>